# Conexión a la DB (que está en Docker)
DB_HOST=localhost
DB_PORT=27017
DB_NAME=calculadora_db

# Puerto donde correrá la app en Node
NODE_PORT=5000

# Secreto de JWT

# Clave generado con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=142e9d3870d288ba5e523ee117e9f3396500675d31c3979dc38aaa8acad2557d # Clave anterior: calculadora_segura